.wrap{
    margin: 10px 8px;
}

.section-main{
    background-image: url('../images/jordan-christian-kCY4qYyfyQI-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
}
/* Header */
header{
    padding: 5px 0;
}

header .wrap{
    display: flex;
    justify-content: space-between;    
}

nav{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;    
}

nav ul{
    display: flex;
}

nav ul li{
    padding: 0 15px;
}

nav ul li:hover{
    color: red;
}

.contact{
    display: inherit;
    width: 35%;
    justify-content: space-between;
}

.contact ul{
    display: flex;
    align-items: center;
}

.cellphone{
    padding-right: 10px;
    color: red;
}
.email{
    padding-left: 10px;
    border-left: 1px solid red;
}

.contact input{
    padding: 8px 15px;
    background: transparent;
    border: 1px solid red;
    color: red;
}
/* Main */

main{
    
}

.main-left{
    display: grid;
    grid-template: 100% / repeat(2, 1fr);
    height: 400px;
    padding: 75px 0;
}
.main-left__content{
    grid-column-start: 1;
    grid-column-end: 2;
}
.main-left__content h1{
    font-size: 30px;
    letter-spacing: 0.5px;    
}
.main-left__content p{
    margin: 30px 0;
}

.main-left__content span{
    color: red;
}

.signup{
    margin: 20px 0;
    width: 80%;
    background: white;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.signup input{
    border: none;
    font-size: 20px;
    padding: 5px 8px;
}
.signup input:focus{
    outline : none;
}

.signup button{
    background: red;
    width: 28%;
    color: white;    
    border: 1px solid red;
    border-radius: 5px;
}

/* section one */

.container{
    max-width: 960px;
    margin: auto;
}

.section-one h3{
    text-align: center;
    color: red;
    margin-top: 20px;
}
.records{
    height: 580px;
}
.list-records{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.image-records{
    width: 50px;
}

.grid{    
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, 50%);
    gap: 50px;
    height: 580px;
}

.grid-left{
    grid-column-start: 1;
    grid-column-end: 2;   
    
    height: 450px;
}
.grid-left__subgrid{
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 50%);
    height: 100%;
    gap: 25px;
}
.card-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: wheat;
}
.card-2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: wheat;    
}
.card-3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: wheat;    
}
.grid-right{
    grid-column-start: 2;
    grid-column-end: 3;
    height: 450px;
}
.grid-right__subgrid{
    display: grid;
    grid-template: repeat(6, 1fr) / 80%;
}
.grid-right__subgrid h5{
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-right__subgrid h2{
    grid-row-start: 2;
    grid-row-end: 3;
}
.grid-right_subgrid p{
    grid-row-start: 3;
    grid-row-end: 4;
}
.grid-right__subgrid .grid-right__button{
    grid-row-start: 6;
    grid-row-end: 7;
}
.grid-right__button input{
    color: white;
    background: red;
    border: 1px solid red;
    border-radius: 4px;
    padding: 5px 8px;
    width: 30%;
}
.card{
    padding: 20px 15px;
    height: 80%;
}
.card img{
    width: 50px;
}
/* SECTION TWO */
.solution{
    margin: 30px 0;
}

.solution h2{
    color: black;
    text-align: center;
}
.items-alls{
    display: flex;
}
.items{
    width: 30%;
}
.items img{
    width: 30px;
}
.items h3{
    margin: 15px 0;
}

.items p{
    margin: 15px 0;
}

.items a{
    color: red;
}
/* SECTION THREE */
.section-three{
   background-color: khaki;
    height: 500px;
}
.section-three .container{
    padding: 50px;
}
.section-three h5, .section-three p{
    text-align: center;
    margin: 10px 0;
}
article{
    display: flex;
    color:black;
}

.articles-several{
    width: 25%;
    border: 1px solid red;
}

.articles-several-wrap{
    padding: 8px;
}

.articles-several-wrap img{
    width: 25px;
}

/* SECTION FOUR */

.section-four{
    height: 375px;

}

.section-four h2{
    color: red;
    margin-top: 15px;
}

.head-four{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}

.head-four h3{
    margin: 0;
    font-size: 25px;
}

.head-four ul{
    display: inherit;
}

.head-four ul li{
    margin: 0 10px;
}

.head-four .arrows img{
    width: 25px;
}
.projects{
    height: 280px;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    gap: 15px;
}
.items-img{
    background-image: url('../images/joshua-aragon-BMnhuwFYr7w-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;

}
/* SECTION FIVE */
.section-five{
    height: 325px;
    margin-top: 150px;
}
.section-five h2{
    text-align: center;    
}
.coments{
    display: flex;
    justify-content: space-around;
}
article{
    border-top: 2px solid red;
}
.section-five article{
    width: 40%;
}
.coments-person{
    display: flex;
    justify-content: space-between;
}
.coments-person img{
    width: 15px;
    margin-right: 8px;
}
.person{
    display: flex;
}
.person img{
    width: 15px;
    border-radius: 25px;
}

.section-six{
    height: 600px;
}
.six-contain{
    height: 280px;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    gap: 25px;
}

.six-contain .tips{
    background-image: url('../images/andrew-ridley-jR4Zf-riEjI-unsplash.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}


/* FOOTER */
.footer{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-top: 1px solid blue;
    padding: 10px;
}

.brand-footer, .option-footer ul, .social-networks ul{
    display: flex;
}
.brand-footer{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.option-footer li a{
margin: 0 5px;
}

